<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
	        <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Inicio</a></li>
	        	<li><a href="/about">¿Quiénes Somos?</a></li>
        		<li><a href="/cv">Proyectos</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">

		{{ content }}		

		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:jgutierrez@itcr.ac.cr">correo electrónico</a></li>
        		<li><a href="https://github.com/labexp">github.com/labexp</a></li>
			</ul>
		</footer>
	</body>
</html>
