<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
	        <!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Inicio</a></li>
	        	<li><a href="/about">¿Quiénes Somos?</a></li>
        		<li><a href="/cv">Publicaciones</a></li>
        		<li><a href="/materiales">Materiales</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">

		{{ content }}		

		</div><!-- /.container -->
		<footer>
			<div class="about">
				<p><b>Laboratorio Experimental:</b> Grupo de extensión e investigación de la carrera de Ingeniería en Computación en el Centro Académico de Alajuela. <a href="http://tec.ac.cr/">Instituto Tecnológico de Costa Rica</a>.</p>
			</div>
    		
    			<ul>
        			<li><a href="mailto:contacto@labexp.org">correo electrónico</a></li>
        			<li><a href="https://github.com/labexp">github.com/labexp</a></li>
                        	<li><a href="https://twitter.com/LabExpCR">twitter.com/LabExpCR</a></li>
			</ul>
		</footer>
	</body>
</html>
